<div class="container">
    <div class="jumbotron">
        <h1 class="display-6">Movimentações</h1>
        <p class="lead-1">Listagem das movimentações por correntista</p>
        <hr class="my-2">
        <div class="input-group">
            <select  id="iCorrentista" [(ngModel)]="correntistaSelecionado" class="form-select">
                <option *ngFor="let c of correntistas" [ngValue]="c" >{{c.cpf}}-{{c.nome}}</option>
            </select>
            <button class="btn btn-outline-secondary me-md-2 btn-sm" type="button" (click)="listMovimentacoes()">Buscar</button>
            <a class="btn btn-outline-primary btn-sm" routerLink="/movimentacoes-new">Nova Movimentação</a>
            <a class="btn btn-outline-primary btn-sm" routerLink="/correntistas">Correntistas</a>
        </div>
        <a class="btn btn-outline-primary btn-sm" routerLink="/movimentacoes-new">Nova movimentação</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data Hora</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of movimentacoes; index as i">
                    <th scope="row">{{ i + 1}}</th>
                    <td>{{ item.dataHora | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ item.descricao }}</td>
                    <td [ngStyle]="{ 'color': item.tipo === 'RECEITA' ? 'blue' : 'red'}">{{ item.valor | currency:'BRL' }}</td>
                    <td>{{ item.tipo }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>