<div class="container">
    <div class="jumbotron">
        <h1 class="display-6">Correntistas</h1>
        <p class="lead-1">Cadastro de correntista</p>
        <hr class="my-2">
    </div>
    <div class="row g-2">
        <div class="col-md-3">
            <input  class="form-control" id="iCpf" [(ngModel)]="cpf"  placeholder="CPF">
        </div>
        <div class="col-5">
            <input type="text"  class="form-control" id="iNome" [(ngModel)]="nome" placeholder="Nome do Correntista">
        </div>
        <div class="col-3">
            <div class="d-grid gap-2 d-md-flex ">
                <button class="btn btn-outline-primary me-md-2" type="button" (click)="save()" >Gravar</button>
                <a routerLink="/movimentacoes" class="btn btn-outline-danger">Voltar</a>
            </div>
        </div>
    </div>
    <p></p>
    <div *ngFor="let item of correntistas; index as i" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{item.nome}}</h5>
            <p class="card-text">Conta N° {{item.conta.numero}}</p>
            <p class="card-text">Saldo {{item.conta.saldo | currency:'BRL'}}</p>
        </div>
    </div>
</div>